# Project specific stuff
\Bayesian-Statistics-Project.code-workspace
\.venv

# python stuff
scripts/__pycache__
*.pyc
EDA/__pycache__

# R stuff
.Rhistory
.RData
.Ruserdata
.Rproj.user
Bayesian-Statistics-Project.Rproj


# Stan code and executables
*.exe
*.stan
*.pkl
*.txt
*.o